body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    background-image: url('def-bg.webp');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0.9;
    
}


.login-box {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.login-box h1 {
    margin: bottom 10px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0056b3;
}

.terms {
    font-size: 12px;
    margin-top: 10px;
}

.terms a {
    color: #00aaff;
    text-decoration: none;
}